@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color:   #FFFFFF;
  --secondary-color: #383828;
  --accent1-color:   #CD1614;
  --accent2-color:   #008037;

  /* change the values below to your chosen font(s) */
  --heading-font: Roboto, sans-serif;
  --paragraph-font: Roboto, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--secondary-color);  /* headlines on a white background */ 
  --headline-color-on-color: var(--primary-color); /* headlines on a colored background */ 
  --paragraph-color-on-white: var(--accent2-color); /* paragraph text on a white background */ 
  --paragraph-color-on-color: var(--accent1-color); /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--secondary-color)  ;
  --nav-link-color: var(--accent1-color);
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: var(--accent2-color);
  --nav-hover-background-color: var(--secondary-color);
}

/* vanilla */
* {
  box-sizing: border-box;  
}

body {
    font-family: Roboto, Helvetica, sans-serif;
}

header {
    background-color: var(--accent2-color);
    height: 5%;
}

h1, h2, h3 {
    font-weight: 100;
    color: var(--accent2-color);
}

nav {
    grid-column: 4/5;
}

label {
    display: block;
    margin: 1rem;
}

form {
    border: var(--accent1-color) 1px solid;
    border-radius: 7px;
    margin: auto;
    display: table;
    padding: 1rem;
    margin-top: 1rem;
}

form h1 {
    text-align: center;
    display: table-cell
}

form p {
    display: table-row;
    font-size: larger;
}

form p label {
    display: table-cell;
    width: 100%;
    padding: 1rem;
}

form p label input {
    width: 100%;
}

form button {
    background-color: var(--accent2-color);
    border: var(--accent1-color) 1px solid;
    border-radius: 7px;
    color: var(--primary-color);
    padding: 1rem;
    font-weight: 100;
    font-size: xx-large;
    font-stretch: expanded;
    margin: auto;
    display: block;
}

/* class */
.headGrid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    padding: .5rem;
}

.headGrid img {
    border-radius: 7px;
    width: 100%;
    margin: auto;
    height: 100%;
    display: none;
}

footer {
    text-align: center;
}

/* id */
#navbar {
    list-style: none;
    padding-inline-start: 0%;
    display: none;
}
#navbar li {
    text-align: right;
    padding: 1rem;    
    padding-left: 3rem;
    font-size: larger;
}

#navbar a {
    text-decoration: none;
    color: var(--secondary-color);
}

#navbar.active_button {
    display: block;
    position: absolute;
    right: 0;
    margin-top: .5rem;
    background-color: var(--accent2-color);
}

#navbar.active_button li:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#menu {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    border: none;
    width: 100%;
}

#order-card {
    display: grid;
    gap: 20px;
}

#open{
    display: none;
}

#closed{
    display: inline;
    font-weight: 100;
    font-size: xx-large;
}

#open.active_button {
    display: inline;
    font-weight: 100;
    font-size: xx-large;
}

#closed.active_button {
    display: none;
}

#active-page {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
}

#numOrdered{
    font-weight: bold;
}

#spin-label {
    padding-left: 1rem;
    display: block;
    margin-bottom: 0;
}

#strawberryPatch {
    width: 100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    object-fit: cover;
}

#map {
    text-align: center;
}

/* Class */
.main-grid {
    display: grid;
    border-collapse: collapse;
    gap: 2px;
    margin: auto;
    width: 98%;
    margin-top: 2px;
}
.card {
    text-align: center;
    border-radius: 7px;
    border: solid var(--accent2-color) 1px;
    padding: .5rem;
    color: var(--secondary-color);
}

.card img {
    object-fit: cover;
    margin: auto;
    display: block;
}

.card p {
    text-align: center;
}

.card ul {
    width: fit-content;
    margin: auto;
    padding-inline-start: 0%;
}
.card li {
    width: fit-content;
    list-style: none;
    padding-inline-start: 0%;
}

.card button {
    background-color: var(--accent2-color);
    border: var(--accent1-color) 1px solid;
    border-radius: 7px;
    color: var(--primary-color);
    padding: 1rem;
    font-weight: bold;
    font-stretch: expanded;
}

p.call-to-action {
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin: 1rem auto;
}

.order-head {
    color: var(--primary-color);
    grid-column: 1/4;
    text-align: center;
    font-weight: 100;
    font-size: x-large;
    margin-top: .5rem;
}

.weather-grid {
    display: grid;
    gap: 5px;
}

.weather-grid h1:nth-child(2) {
    text-decoration: underline 1px;
}
