@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--border-color);
}

:root {
    --primary-color: #41262e;
    --border-color: #3f2653;
    --secondary-color: #f76b20;
    --text-color: white;
    --text-color-hover: black;
    --font-family: 'Roboto', sans-serif;
}

header img {
    width: 100%;
}

* {
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header h1 {
    display: block;
    font-size: large;
    width: 200px;
    text-align: center;
}

header nav {
    background-color: var(--primary-color);
    display: inline;
    margin-right: 0;
    text-align: right;
    grid-column: 3/4;
    grid-row: 1/3;
}

header nav button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: var(--secondary-color) solid;
    text-align: center;
    min-width: 3rem;
    min-height: 3rem;
    font-size: x-large;
    
}
.lastVisit {
    text-align: center;
    color: var(--text-color-hover);
    background-color: var(--secondary-color);
}
#currentdate {
    margin: 0;
    grid-column: 2/3;
    text-align: center;
    border: var(--secondary-color) solid;
}

#navbar {
    margin-top: 0;
    margin-bottom: 0;
    display:none;
    border: var(--border-color) solid;
    right:0;
    position: absolute;
    background-color: var(--primary-color);
    width: 20%;
}

#navbar li {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#navbar.active_button {
    display: block;
}

#open{
    display: none;
}

#closed{
    display: inline;
}

#open.active_button {
    display: inline;
}

#closed.active_button {
    display: none;
}

header nav ul#navbar {
    list-style: none;
    padding-inline-start: 0%;
    /* position: relative; */
}

header nav ul li a {
    color: var(--text-color);
    text-decoration: none;
}

header nav ul li:hover {
    background-color: var(--secondary-color);
}

header nav ul li:hover a {
    color:var(--text-color-hover);
}

header nav a img {
    max-width: 20px;
}

main {
    background-color: var(--primary-color);
}

 
.shadow:hover {
    box-shadow: 0 0 25px var(--secondary-color);        
}

#banner {
    display: none;
    position: sticky;
    margin: auto;
    text-align: center;
    background-color: #f76b20;
    top: 0px;
    z-index: 999;
}
main #main-grid {
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

main .grid-item {
    margin: auto;
    width: 95%;
    height: auto;
    background-color: var(--border-color);
    border: var(--secondary-color) solid 2px;
    text-align: center;
    color: var(--text-color);
}

#hero-box p {
    margin: 0;
}

main .std-btn {
    text-decoration: none;
    display: block;
    color:var(--text-color-hover);
    width: 30%;
    border: var(--primary-color) solid 5px;
    color: var(--text-color);
    background-color: var(--secondary-color);
    position: absolute;
    border-radius: 7px;
    z-index: 999;
    margin: 0;
}

main .std-btn:hover {
    background-color: var(--border-color);
}

main .discover-grid {
    height: auto;
    box-sizing: border-box;
}

main div#main-grid div.grid-item p {
    margin-bottom: 0;
    /* padding-bottom: 16px; */
    color: var(--text-color);
    height: auto;
}

.bold {
    font-weight: bolder;
    background-color: var(--primary-color);
    padding: 1rem;
    margin: 0;
}

#news-list li {
    padding: 1rem;
}

table {
    margin: auto;
    border-collapse: collapse;
}

table tr:nth-child(even){
    background-color: var(--primary-color);
}

th {
    background-color: var(--secondary-color);
    color:var(--text-color-hover);
    border: 5px solid var(--border-color);
    border-bottom: 5px var(--primary-color) solid;
}

td {
    border: var(--secondary-color) solid 2px;
}  

td, th {
    padding: 1rem;
}

main .grid-item.spotlight {
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

main .grid-item.spotlight a {
    color:var(--secondary-color);
    background-color: var(--primary-color);
}

main .grid-item.spotlight img {
    width: 100%;
}

main .grid-item.spotlight2 img {
    object-fit: cover;
    max-width: 80%;
}

main .grid-item.spotlight3 img {
    display: none;
    object-fit: cover;
    max-width: 80%;
}

main .grid-item.spotlight1 {
    object-fit: cover;
    max-width: 80%;
}

main .grid-item.spotlight2 {
    object-fit: cover;
    max-width: 80%;
}

main .grid-item.spotlight3 {
    display: none;
    object-fit: cover;
    max-width: 80%;
}

main .grid-item#join-box {
    display: none;
}

picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.req {
    color: red;
}

form {
    color: var(--text-color);
    border: solid var(--secondary-color) 1px;
    padding: 1rem;
}

form p {
    border-bottom: solid var(--secondary-color) 1px;
    width: fit-content;
}

label, input, textarea {
    display: block;
}

label, textarea {
    margin-bottom: 1rem;
}

div label input{
    display: inline;
}

#benefits {
    border: solid var(--secondary-color) 1px;
    padding: 1rem;
    color: var(--text-color);
}

#benefits h1{
    margin-top: 0;
}
#benefits h2{
    border-bottom: solid 1px var(--secondary-color);
    max-width: fit-content;
}

footer {
    background-color: var(--primary-color);
    color:var(--text-color);
    text-align: center;
    padding-bottom: 1rem;
}

footer a {
    color:var(--text-color);
}

footer #footerid {
    margin: 0;
    padding: 20px;
}

footer img {
    margin: auto;
    max-width: 50%;
    display: block;
    
}

footer #myname {
    font-weight: bold;
}
#thankYou {
    margin: auto;
    text-align: center;
}

#thankYou h1 {
    background-color: var(--secondary-color);
    color: var(--text-color-hover);
    width: fit-content;
    margin: 1rem auto auto auto;
    padding: 1rem;
    border-radius: 7px;
}

#thankYou h1 a {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--text-color-hover);
    padding: 1rem;
    border-radius: 7px;
}

#thankYou h1:nth-child(3){
    background-color: transparent;
}

#thankYou h1 a:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

#firstName, #lastName, #title, #mail, #cell, #busName{
    display: block;
}

.discover {
    min-width: 100%;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Directory page */
.button-box {
    margin: auto;
    margin-bottom: 1rem;
    padding-top: 1rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#gd-btn {
    background-color: var(--secondary-color);
    color: var(--text-color-hover);
    border: solid var(--border-color) 3px;
    border-radius: 7px;
    font-weight: bolder;
    font-size: larger;
    padding: 1rem;
    display: block;
    margin-right: 15px;
}

#lst-btn {
    background-color: var(--secondary-color);
    color: var(--text-color-hover);
    border: solid var(--border-color) 3px;
    border-radius: 7px;
    font-weight: bolder;
    font-size: larger;
    padding: 1rem;
    display: block;
    margin-left: 15px;
}

#gd-btn:hover, #lst-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    color:var(--text-color)
}

.default-grid, .active-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    box-sizing: border-box;
}

.default-grid .card, .active-grid .card {
    box-sizing: border-box;
    width: 100%;
    border: solid var(--secondary-color) 2px;
    text-align: center;
    color: white;    
}

.default-grid .card a, .active-grid .card a {
    color: var(--secondary-color);
}

.default-grid .card img, .active-grid .card img {
    width: 100%;
    height: 200px;
    background-color: var(--text-color);
    object-fit: cover;
}

.active-list{
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr;
    color: var(--text-color);
    border-collapse: collapse;
}

.active-list .card {
    border: solid 1px var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.active-list .card:nth-child(even){
    background-color: var(--border-color);
}

.active-list img {
    display: none;
}

.active-list a {
    color:var(--secondary-color)
}

div.gold {
    padding-top: 5px;
    padding-left: 5px;
}

.card.gold {
    box-shadow: inset 5px 5px gold;
}

.active-list .card.gold {
    box-shadow: none;
}