@media screen and (min-width: 1060px) {
    body {
        background-color: var(--border-color);
    }

    /* Header Stuff */    
    header #menu {
        display: none;
    }

    header a.grid-item {
        display: flex;
    }

    header h1.grid-item {
        grid-column: 1/2;
    }

    header nav {
        grid-column: 2/4;
    }

    header #navbar {
        display: flex;
        right:auto;
        flex-direction: row;
        width: 33%;
    }

    header #navbar li {
        margin: auto;
    }
    header #currentdate{
        margin-bottom: 1rem;
    }

    header nav a img {
        width: 10%;
        max-width: none;
        display: inline;
    }
    /* Main Stuff */
    main {
        width: 90%;
        margin: 1rem auto 1rem auto;
    }

    /* Main Grid */
    div#main-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #hero-box{
        grid-column: 2/4;
        grid-row: 1/3;
        height: 100%;
    }

    #news-box{
        grid-column: 2/4;
        grid-row: 3/4;
        margin: 0;
    }

    #event-box{
        grid-column: 1/2;
        grid-row: 1/2;
        height: 100%;
        margin:0;
    }

    #weather-box{
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 0;
        height: 100%;
    }

    #join-box{
        grid-column: 1/2;
        grid-row: 3/4;
        margin: 0;
    }

    #north {
        grid-column: 2/4;
        grid-row: 1/2;
    }

    #south {
        grid-column: 2/4;
        grid-row: 3/4;
    }

    #east{
        grid-column: 4/5;
        grid-row: 2/3;
    }

    #west{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #centeral{
        grid-column: 2/4;
        grid-row: 2/3;
    }

main .grid-item#join-box{
    display: block;
}

    /* Spotlight Grid */
    div.grid-item.spotlight {
        width: 100%;
        height: 93.25%;
        margin: 0;
        grid-column: 4/5;
        grid-row: 1/4;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: none;
        gap: 0;
    }
    div.grid-item.spotlight3 {
        display: block;
    }

    form {
        grid-column: 1/3;
        grid-row: 1/4;
    }

    #benefits {
        grid-column: 3/5;
        grid-row: 1/4;
    }

    footer img#logo {
        width: 10%;
        margin: auto 5% auto 10%;
        /* display: inline; */
    }
    
    footer a img#map {
        width: fit-content;
        max-width: 20%;
        margin: auto 0 auto auto;
        /* display: inline; */
    }

    footer #contact{
        text-align: left;
    }

    footer #footertop {
        display:flex;
        flex-direction: row;
    }

    footer #mapa {
        margin: auto 30% auto 0;
    }

    /* Discover */
    .default-grid, .active-grid {
        grid-template-columns: repeat(3, 1fr);
    }



}