@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');

body{
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: blue;
    color: white;
    border: 5px;
    border-color: black;
    border-style: solid;
}

header img {
    margin: 1rem;
    max-width: 10em;
}

header h1 {
    text-align: center;
}

header div:nth-child(2) {
    width: 100%;
}

main h2 {
    text-align: center;
}

main p {
    text-align: center;
    font-style: italic;
}

footer {
    text-align: center;
    color: white;
    background-color: blueviolet;
    border: 2px black solid;
    border-radius: 5px;
}

#content{
    margin: 0 auto;
    width: auto;
    max-width: 800px;
}